.App {
  text-align: center;

  background-image: linear-gradient(79deg, #7066f6, #3d78ad 48%, #4df7a2);
}
.auth-form-container, .login-form, .register-form{
  display: flex;
 
  flex-direction: column;
}

.flex-horizontal {
  flex-direction: row;
}

.table {
  justify-content: flex-start;
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color: white;
}

.table thead tr {
    text-align: center;
}

.table td {
  text-align: center;
  padding: 5px 20px;
}

.table thead th {
  border-bottom: 2px solid;
  padding: 5px 15px;
}

.hidetext { -webkit-text-security: disc; /* Default */ }

.auth-form-container {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: .5rem;
}

label {
  text-align: left;
  padding: .25rem 0;
}

input {
  margin: .5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 30px;
}

button {
  border: none;
  background-color: white;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  color: #7066f6;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.text-success {
  background: none;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-topbar {
  justify-content: space-between;
} .App-topbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #23272e;
  display: flex;
  flex-direction: row;
  align-items: center;
}.App-topbar-alt {
  justify-content: space-between;
  background-color: #070707; /* Slightly different color */
}

.App-topbar-alt ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1f20; /* Slightly different color */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
 
  margin-bottom: 0;
  list-style: none; /* This removes the bullet points from the list */

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: 10px; 
      text-decoration: none; /* This removes the underline */
      font-size: 0.8em; /* This makes the text smaller */
      color: white; /* This changes the text color to white */

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: #f5f5f5;
        color: black; /* This changes the text color to black on hover and focus */
      }
    }
  }
}
.nav-item {
  margin-right: 10px;
}
.nav-item-center {
  margin-left: auto;
  margin-right: 0;
}
.nav-item-center2 {
  margin-left: auto;
  margin-right: auto;
}
.nav-item-right {
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}
.nav-link:focus,.nav-link:hover {
  color: var(--bs-nav-link-hover-color)
}

.nav-link.disabled {
  color: var(--bs-nav-link-disabled-color);
  pointer-events: none;
  cursor: default
}

.nav-tabs {
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: #dee2e6;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
  --bs-nav-tabs-link-active-color: #495057;
  --bs-nav-tabs-link-active-bg: #fff;
  --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color)
}

.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background: 0 0;
  border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius)
}

.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover {
  isolation: isolate;
  border-color: var(--bs-nav-tabs-link-hover-border-color)
}

.nav-tabs .nav-link.disabled,.nav-tabs .nav-link:disabled {
  color: var(--bs-nav-link-disabled-color);
  background-color: transparent;
  border-color: transparent
}

.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color)
}

.nav-tabs .dropdown-menu {
  margin-top: calc(-1 * var(--bs-nav-tabs-border-width));
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.nav-pills {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #0d6efd;
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: var(--bs-nav-pills-border-radius);
}

.nav-pills .nav-link:disabled {
  color: var(--bs-nav-link-disabled-color);
  background-color: transparent;
  border-color: transparent
}

.nav-pills .nav-link.active,.nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg)
}

.nav-fill .nav-item,.nav-fill>.nav-link {
  flex: 1 1 auto;
  text-align: center
}

.nav-justified .nav-item,.nav-justified>.nav-link {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center
}

.nav-fill .nav-item .nav-link,.nav-justified .nav-item .nav-link {
  width: 100%
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}.Login-container {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: top;
  justify-content: center;
  columns: white;
  background-image: linear-gradient(79deg, #7066f6, #3d78ad 48%, #4df7a2);
}
